<!DOCTYPE html>
<html>
  <head>
    <meta name="author" content="Matthew Clark">
    <meta name="twitter:creator" content="@praptolium">
    <meta name="description" content="This program randomly generates a movie that has won an Oscar.  Not sure what to watch this evening?  Why not give the Which Oscar Winning Movie Should I Watch? a spin!?">
    <meta property="og:image" content="images/Decorative_Trophies.jpeg">
    <meta property="og:image:alt" content="Many gold Academy Award statues lined up in a row">
    <meta property="og:description" content="This program randomly generates a movie that has won an Oscar.  Not sure what to watch this evening?  Why not give the Which Oscar Winning Movie Should I Watch? a spin!?">
    <meta property="og:title" content="Which Oscar Winning Movie Should I Watch?">

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Which Oscar Winning Movie Should I Watch?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="video-bg">
      <div id="player"></div>
      <div class="bg-overlay"></div>
    </div>
    <%= yield %>
  
  </body>
</html>
